*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/bin
/config/database.yml
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/nbproject/private/
.idea
*.swp
/coverage
coverage
*.tmproj
*.sw?
*.cache
*.log
*.pid
/spec/reports
/public/assets
/public/ckeditor_assets
.DS_store
/test
screenshot.png
/public/uploads
/spec/javascripts/pos/chrome/screenshots/*
# Ignore application configuration
/config/application.yml
.pryrc
.zeus.sock
.ruby-version
.ruby-gemset
dump.rdb
spec/files/*-my_lovely_file.xls
spec/temp/*
spec/files/spec-services-excel*
vendor/tmp/assets/assets/*
tags
.rvmrc
