.row
  .col-sm-12
    .page-header
      %h1 How It Works

.row
  .col-sm-4
    .well.well-sm
      %h2 1. Create a quiz
      %p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
      %p=link_to 'Get started &rarr;'.html_safe, '#', class: 'btn btn-default' #quizzes_url
  .col-sm-4
    .well.well-sm
      %h2 2. Tell EVERYBODY!
      %p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
      %p=link_to 'Get started &rarr;'.html_safe, '#', class: 'btn btn-default' #publicize
  .col-sm-4
    .well.well-sm
      %h2 3. Have Fun
      %p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
      %p=link_to 'Get started &rarr;'.html_safe, '#', class: 'btn btn-default' #go_live