-if current_user
  .row
    .col-sm-12
      .page-header
        %h1 TableQuiz
        %p.lead Time to get started using the world's favourite table quiz app

-else
  =content_for(:jumbotron) do
    .jumbotron
      .container
        %h1 TableQuiz
        %p Time for Serious Fun

  .row
    .col-sm-12
      %h1.text-center TableQuiz - the app for Pub Quizzes
  .row
    .col-sm-6
      .well.well-sm
        %h2 Time to Play?
        %p Get the App from the Apple Store
        %p.text-muted QR Codes go here
    .col-sm-6
      .well.well-sm
        %h1 Organise A Table Quiz
        %p Organise a table quiz - get started here
        %p=link_to 'Get Started &rarr;', how_it_works_url, class: 'btn btn-success'
