.row
  .col-md-12
    .page-header
      %h1
        Country #
        =@country.id
.row
  .col-md-12
    %table.table.table-striped.table-bordered
      %tr
        %td.col-sm-4 Name
        %td.col-sm-8=@country.name
      %tr
        %td.col-sm-4 In the eu
        %td.col-sm-8=@country.in_the_eu
      %tr
        %td.col-sm-4 Currency
        %td.col-sm-8=@country.currency.try(:name)
    %p
      =link_to 'Back', countries_url
      |
      =link_to 'Edit', edit_country_url
