.row
  .col-md-12
    .page-header
      %h1 Edit Question Category
=render partial: 'form'
.row
  .col-md-12
    = link_to 'Back', question_categories_path
    \|
    = link_to 'View', @question_category
