%nav.navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
  .container-fluid
    .navbar-header
      %button{type: 'button', class: 'navbar-toggle', data: {toggle: 'collapse', target: '.navbar-collapse'} }
        %span{class: 'sr-only'} Toggle navigation
        %span{class: 'icon-bar'}
        %span{class: 'icon-bar'}
        %span{class: 'icon-bar'}
      =link_to 'TableQuiz', root_url, class: 'navbar-brand'

    .collapse.navbar-collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          =link_to 'How it Works', how_it_works_url
        %li
          =link_to 'Quizzes', '#'
        %li
          =link_to 'Something', '#'

      %ul.nav.navbar-nav.navbar-right
        -if current_user
          %li=link_to image_tag(current_user.image, size: '20x20', class: 'img-circle'), '#'
          %li=link_to 'Sign out', signout_url, id: 'fb_sign_out'

        -else
          %li=link_to 'Sign in with Facebook', '/auth/facebook/callback', id: 'fb_sign_in'